<section class="hero">
    <div class="row w-100 g-0">
        <!-- Left Section with Background Image and Text -->
        <div class="col-md-12">
            <div class="hero-section-1">
                <h3 class="heading3">ABOUT</h3>
                <h1 class="heading1">Voice First</h1>
                <h1 class="heading2">The Issue Tracker</h1>
            </div>
        </div>

    </div>
</section>

<section class="whatis mt-lg-4">
    <div class="wrapper">
        <div class="content container">
            
            <div class="row w-100 g-0 pt-5 pt-sm-1">
                <div class="col-md-8 col-sm-12">
                    <h2 class="title mb-5 lineheight"><span class="underline fw-bold">Voice First - </span> The Smart Issue Tracking System</h2>
                    <p class="content-text">
                        Stay ahead of operational challenges with <span class="fw-bold">Voice First</span>, the intelligent and efficient solution for reporting, tracking, and resolving issues in real-time. Designed for supervisors, managers, business owners, and government officials, VoiceFirst streamlines issue management, ensuring that critical problems are identified and addressed before they escalate.
                    </p>
                    <p class="content-text">
                        Unlike traditional feedback platforms, <span class="fw-bold">Voice First</span> is a dedicated issue tracking system that guarantees verified reports, eliminating fake submissions. Users can report issues effortlessly through voice, text, images, or videos, while real-time updates are delivered via WhatsApp, email, and in-app notifications for seamless communication.
                    </p>
                    <p class="content-text">
                        Enhance operational efficiency, improve response times, and maintain control over issue resolution with VoiceFirst – the future of smart issue management.
                    </p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="whatis-bg"></div>
                </div>
            </div>
        </div>
    </div>
</section>




