

<div class="table-card">
  <div class="mb-3 mt-1">
    <h3>Manage Roles</h3>
  </div>

  <div class="mb-3">
    <div class="row w-100">
      <div class="col-md-4"> 
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            #globalFilter
            (input)="onGlobalFilter(globalFilter.value)"
            placeholder="Search keyword"
            />
        </p-iconField>
      </div>
  
      <div class="col-md-8 d-flex justify-content-end">
        <!-- <p-button class="me-2" icon="pi pi-bookmark" severity="secondary" /> -->
        <p-button icon="pi pi-plus" pTooltip="Add" tooltipPosition="bottom"  (click)="showDialog()"/>
        
      </div>
    </div>
    

  </div>

  <p-table
      #dt2
      [value]="roles"
      [paginator]="true"
      [rows]="rows"
      [first]="first"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '40rem' }"
      (onPage)="pageChange($event)"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      [globalFilterFields]="['t8_1_roles_name']"
      class="table"
  >
      <ng-template pTemplate="header">
          <tr>
              <th style="width:25%">Role</th>
              <th style="width:25%" class="text-center">All Location Access</th>
              <th style="width:25%" class="text-center">All Issue Access</th>
              <th style="width:25%"></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-role>
          <tr>
              <td>{{ role.t8_1_roles_name }}</td>
              <td class="text-center">
                <i class="pi"
                    [ngClass]="{
                    'pi-check-circle text-green': role.t8_1_all_location_access?.toLowerCase() === 'y',
                    'pi-times-circle text-red': role.t8_1_all_location_access?.toLowerCase() === 'n'
                    }">
                </i>              
            </td>
              <td class="text-center">
                <i class="pi"
                    [ngClass]="{
                    'pi-check-circle text-green': role.t8_1_all_issues?.toLowerCase() === 'y',
                    'pi-times-circle text-red': role.t8_1_all_issues?.toLowerCase() === 'n'
                    }">
                </i>  
            </td>
              <td class="d-flex justify-content-end">
                <i class="pi pi-pen-to-square me-3"  (click)="showDialog(role)"></i>
                <i class="pi pi-trash text-danger"  (click)="delete($event,role.t8_1_role_id)"></i>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4" class="text-center">No data available</td>
        </tr>
      </ng-template>
  </p-table>
</div>


<p-dialog 
  *ngIf="roleForm"
  [modal]="true" 
  [header]="isEdit ? 'Edit Role' : 'Add Role'"
  [(visible)]="addPopupVisible" 
  [style]="{ width: '70rem' }" 
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
  >
<form [formGroup]="roleForm" class="row g-3">
  <div class="col-md-12">
    <label class="form-label">Role</label>
    <input type="text" class="form-control" formControlName="t8_1_roles_name">
  </div>

  <div class="col-md-12 mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 d-flex justify-content-center">
        <label class="form-label text-dark">
          <input type="checkbox" formControlName="t8_1_all_location_access" style="transform: scale(1.5); margin-right: 8px;"> All Location Access
        </label>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <label class="form-label text-dark">
          <input type="checkbox" formControlName="t8_1_all_issues" style="transform: scale(1.5); margin-right: 8px;"> All Issue Access
        </label>
      </div>
    </div>
  </div>

  <div class="col-md-12 mt-4">
    <h6 class="fw-bold">Permissions</h6>
    <div formGroupName="permissions">
      <table class="table table-bordered text-start">
        <thead>
          <tr>
            <th>Module</th>
            <th class="text-center">Create</th>
            <th class="text-center">Read</th>
            <th class="text-center">Update</th>
            <th class="text-center">Delete</th>
            <th class="text-center">Update From Excel</th>
            <th class="text-center">Download-Excel</th>
            <th class="text-center">Download-Pdf</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mod of modules" [formGroupName]="mod.t7_program_id">
            <td class="text-capitalize">{{ mod.t7_program_name }}</td>
            <td class="text-center"><input type="checkbox" formControlName="t8_2_add"></td>
            <td class="text-center"><input type="checkbox" formControlName="t8_2_view"></td>
            <td class="text-center"><input type="checkbox" formControlName="t8_2_edit"></td>
            <td class="text-center"><input type="checkbox" formControlName="t8_2_delete"></td>
            <td class="text-center"><input type="checkbox" formControlName="t8_2_update_from_excel"></td>
            <td class="text-center"><input type="checkbox" formControlName="t8_2_download_excel"></td>
            <td class="text-center"><input type="checkbox" formControlName="t8_2_download_pdf"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn w-100" (click)="onSubmit()">Submit</button>
  </div>
</form>

  
</p-dialog>

<p-toast />
<p-confirmPopup />
